body {
    margin: auto;
}
div {
    background-color: rgb(202, 207, 207);
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;


    
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 26px; 
    color:rgb(0, 0, 0)
}
button {
    padding: 5px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border: none;
    
}
button:hover{
    background-color: rgb(77, 76, 76);
    color: rgb(248, 247, 247);
}
.result {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
input {
    text-align: center;
    width: 80px;
    color: black;
   
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
}