body {
    margin: auto;
    background-color: #9173B3;
}
div {
    background-color:#7D6399;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 20px;


    
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 26px; 
    color:rgb(255, 255, 255)
}
button {
    padding: 5px;
    background-color: rgb(227, 226, 226);
    color: rgb(5, 12, 62);
    font-weight: bolder;
    border: none;
    
}
button:hover{
    background-color: rgb(177, 178, 177);
    color: rgb(5, 12, 62);

}
.result {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
input {
    text-align: center;
    width: 80px;
    font-weight: bolder;
    color: rgb(124, 124, 236);
    background-color: rgb(67, 66, 66);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

p {
    color:rgb(191, 204, 241);
    font-weight: bolder;
}
